html {
  box-sizing: border-box;
  // overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: flex;
}

:root {
  --color-primary: #2979ff;
  --color-white: #fff;
  --color-text: #1d243c;
  --color-gray: #a6a6a6;
  --border: 3px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  // font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  font-weight: 400;
  // letter-spacing: 2%;
  line-height: 160%;
  color: var(--color-text);
  background-color: var(--color-white);

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  overflow: hidden;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  line-height: 160%;
  transition: color .15s ease-in-out;

  & path {
    transition: stroke .15s ease-in-out;
  }
}

.btn {
  font-family: 'Inter';
  // font-family: 'Gilroy';
  cursor: pointer;
  line-height: 160%;
  border: none;
  border-radius: var(--border);
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;

  &-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &-primary:hover {
    background-color: #125FE1;
  }

  &-simply {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    & path {
      transition: transform .15s ease-in-out;
    }
  }

  &-simply:hover {
    background-color: rgba(18, 95, 225, 0.2);

    & path {
      transform: translateX(5px);
    }
  }

  &-bay {
    background-color: #F1F1F1;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    padding: 8px 18px;

    &:hover {
      background-color: #e7e7e7;
    }
  }
}

.title {
  // font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-weight: 700; //new
  font-size: 20px;
  margin-bottom: 30px;
}
